body{
  font-family: sans-serif, Times, serif;
}
.headButton{
  text-align:center;
}

.imgHolder{
  width: 640px;
  height: 480px;
  padding: 0;
  margin: 0;
}

.contentHolder{
  padding: 0;
  margin-bottom: : 30px;
  border: 1px solid black;
  border-radius: 3px;
}

.hotelHeading{
  display: inline;
  font-size: 30px !important;
  padding-top: 20px;
  padding-right: 5px;
}

.textHolder{
  padding: 30px 10px 10px 10px;
}

.textHolder > p{
  font-size: 16px;
  padding-bottom: 30px;

}

.textDescription{
  padding-left: 15px;
  width: 400px;
  height: 200px;
}

.textHeading{
  padding: 15px;
  height: 150px;
}

.reviews{
  padding: 55px;
  display: none;
}

#price{
  display: inline;
  font-size: 30px;
  float: right;
  margin-right: 20px;
  padding-bottom: 0px;
}

#date{
  display: inline;
  float: right;
  margin-right: 20px;
  padding-bottom: 0px;
}

.showMore{
  font-size: 20px;
  padding: 3px 30px;
  border-radius: 3px;
}

#loadButton{
  font-size: 20px;
  padding: 3px 30px;
  margin: 50px;
}
